.Main {
    /*background-color: rgb(12, 26, 26);*/
    max-width: 1124px;
    display: flex;
    margin: auto;
    padding: 0 1rem;
    margin-top: 140px;
    font-family: 'Syne', sans-serif;
    color: rgba(255, 255, 255, 0.89);
    height: auto;
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}
h1{
    padding: 0;
    margin: 0;
}
@keyframes Waving-hand {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    } 
}

#hand {
    display: flex;
    animation: Waving-hand 2.5s infinite !important;
    padding: 0;
    font-size:3.3rem;
}

.title-container {
    font-size: 2.2rem;
}

.Main p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.Main a{
    background-color: #393B4E;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 30%), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.cv {
    padding: 5px 20px;
    font-size: 1.2rem;
}

.fab {
    padding: 5px 10px;
    font-size: 2.5rem;
}

.Main a:hover {
    color: #1CCA73;
    cursor: pointer;
    scale: 1.05;
    background-color: #464861;
}

.Main img {
    max-height:425px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 3px #1cca7363;
    margin-bottom: 2px;
}
.fa-download{
    font-size: 13px;
    margin-right: 7px;
}
@media screen and (max-width: 1080px) {
    .Main {
        margin-top: 100px !important;
    }

    .Main img {
        height: 350px;
    }

    .title-container {
        font-size: 1.7rem;
    }

    .Main p{
        font-size: 1rem;
    }

    #hand {
        font-size:2.5rem;
    }
}

@media screen and (max-width: 850px) {
    .Main {
        margin-top: 80px !important;
    }

    .Main img {
        height: 300px;
    }

    .title-container {
        font-size: 1.5rem;
    }

    #hand {
        font-size:2.1rem;
    }

    .Main p{
        font-size: 0.8rem;
    }

    .title-container {
        font-size: 1.3rem;
    }

    .title-about {
        font-size: 2.2rem;
    }

    .cv {
        padding: 5px 15px;
        font-size: 0.9rem;
    }
    
    .fab {
        padding: 5px 10px;
        font-size: 2rem;
    }

    .fa-download{
        font-size: 10px;
    }
}

@media screen and (max-width: 690px) {
    .Main img {
        height: 280px;
    }

    #hand {
        font-size:1.75rem;
    }

    .Main {
        margin-top: 75px !important;
    }

    .title-container {
        font-size: 1.1rem;
    }

    .title-about {
        font-size: 2rem;
    }

    .cv {
        padding: 5px 15px;
        font-size: 0.9rem;
    }
    
    .fab {
        padding: 5px 10px;
        font-size: 2rem;
    }

    .fa-download{
        font-size: 10px;
    }

    .Main {
        margin-top: 100px;
    }
}

@media screen and (max-width: 610px) {
    .Main {
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        margin-top: 50px !important;
    }

    .svg-sep {
        padding: 2.5rem 0;
    }

    .Main img {
        height: 265px !important;
    }

    #hand {
        font-size:1.6rem;
    }

    .Main p{
        font-size: 0.8rem;
        text-align: center;
    }

    .title-name {
        justify-content: center;
        align-items: center;
    }

    .title-dev {
        text-align: center;
    }

    .a-links {
        justify-content: center;
    }
}

@media screen and (max-width: 453px) {
    .title-container {
        font-size: 1rem;
    }

    .Main p{
        font-size: 0.69rem;
    }

    #hand {
        font-size:1.6rem;
    }
}