footer {
    background-color: #393B4E;
    margin: auto;
    padding: 0 1rem;
    font-family: 'Syne', sans-serif;
    color: rgba(255, 255, 255, 0.89);
    gap: 1rem;
    text-align: center;
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: center;
}

footer h6 {
    font-size: 1.2rem;
}

@media screen and (max-width:930px) {
    h6 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width:400px) {
    h6 {
        font-size: 0.8rem !important;
    }
}